{% extends 'base.html' %}
{%block content%}
    <div class="container" style="width: 20rem;">
        <div class="row justify-content-center">
            <a href="{%url 'create_teacher'%}" class="btn btn-dark btn-lg" role="button" style="margin:20px"> Create new teacher </a>
            <h2> Teachers </h2>
        </div>
    </div>
    {% for teacher in teacher_list %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{teacher.first_name}} {{teacher.last_name}} </h5>
                        <p class="card-text">
                            First name: {{teacher.first_name}} <br>
                            Last name: {{teacher.last_name}}
                        </p>
                        <a href="{%url 'update_teacher' teacher.pk%}" class="btn btn-secondary" role="button" style="margin:5px"> Update teacher </a>
                        <a href="{%url 'delete_teacher' teacher.pk%}" class="btn btn-danger" role="button" style="margin:5px"> Delete teacher </a>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
{%endblock%}