{% extends 'base.html' %}
{% block content %}
    <a href="{%url 'bugs'%}" class="btn btn-secondary" role="button" style="margin:10px"> Back to bug page </a>
    <div class="container" style="width: 20rem;">
        <div class="row justify-content-center">
            <h1>Update bug</h1>
            <form action="{%url "update_bug" bug.pk %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-secondary" style="margin:10px">Save</button>
            </form>
        </div>
    </div>
{%endblock%}